@model glamping_addventure3.Models.Abono

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Abono</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idabono" />
            <div class="form-group">
                <label asp-for="Idreserva" class="control-label"></label>
                <select asp-for="Idreserva" class="form-control" asp-items="ViewBag.Idreserva"></select>
                <span asp-validation-for="Idreserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaAbono" class="control-label"></label>
                <input asp-for="FechaAbono" class="form-control" />
                <span asp-validation-for="FechaAbono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDeuda" class="control-label"></label>
                <input asp-for="ValorDeuda" class="form-control" />
                <span asp-validation-for="ValorDeuda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pendiente" class="control-label"></label>
                <input asp-for="Pendiente" class="form-control" />
                <span asp-validation-for="Pendiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantAbono" class="control-label"></label>
                <input asp-for="CantAbono" class="form-control" />
                <span asp-validation-for="CantAbono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprobante" class="control-label"></label>
                <input asp-for="Comprobante" class="form-control" />
                <span asp-validation-for="Comprobante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
