<div>
    <p>¿Estás seguro de que deseas eliminar el rol "<strong>@Model.Nombre</strong>"? </p><br />

    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Idrol" onsubmit="return submitDeleteForm(this);">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger me-2">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </form>

</div>
