<div>
    <p class="text-center">¿Estás seguro de que deseas eliminar el servicio <strong>@Model.NombreServicio</strong>?</p>

    <form method="post" asp-action="DeleteConfirmed" asp-route-id="@Model.Idservicio" onsubmit="return submitDeleteForm(this);">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-danger me-2">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
    </form>
</div>